.title-movielist{
    gap:0.5rem
}
.prime-badge_movielist{
    position: absolute;
    left: 0rem;
    top: 0;
}
.title-movielist>h4 {
    font-size: 19px;
    color: white;
  }

  .infos-container{
    position: absolute;
    color : white;
    background: linear-gradient(rgba(27,37,48,0),#1b2530 48px);
    z-index: 1;
    transform: translateY(-3.3rem);
    padding-top: 3rem;
    padding: 3rem 1rem 1rem;
    opacity: 0;
    transition: all  0.3s ease-in-out;
    pointer-events: none;
    overflow: hidden;
  }
  .prime-title{
    color: #00A8E1;
     font-weight: 600;
  
   }

   .infos-content .play-btn{
     width: 40px;
     height: 40px;
     background-color: black;
     border-radius :50%;
     cursor: pointer;
     border:2px solid white;
     position: relative;
     transform: translateX(-60x);
     opacity: 0;
     transition: transform 0.3s ease 0.4s , opacity 0.3s ease-out 0.45s;

   }
   .infos-content .plus-btn{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;

   }

   .infos-content .plus-btn::before{
    content:"";
    width: 2px;
    background-color:white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2px;
    margin: auto;
   }

   .infos-content .plus-btn::after{
    content:"";
    height: 2px;
    background-color:white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2px;
    margin: auto;
   }
   



   .infos-content .play-btn::before{
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2px;
    margin: auto;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent white;
   }

  .infos-content h6,
   .infos-content p ,
   .infos-content .movie-footer{
    opacity: 0;
    transform: translateY(-4px);
 

  }

  .infos-content h6{
    transition: all  1s ease-out 0.25s;

  }
  .infos-content p.prime-title {
    transition: all  1s ease-out 0.15s;
  }
  .infos-content .movie-footer{
    transition: all  1s ease-out 0.45s;
  }


  .infos-content h6 + p{
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   line-height: 1.3;
   transition: all  1s ease-out 0.35s padding 0.25s ease-out 0.25s;
  }


  .strive-card:hover .infos-container{
    transform: translateY(-3rem);
    opacity: 1;
    padding: 3rem 1.2rem 1rem;
    pointer-events: initial;
  }

  .strive-card:hover .infos-content h6,
  .strive-card:hover .infos-content p ,
  .strive-card:hover .infos-content .movie-footer {
    opacity: 1;
    transform: translateY(0);


  }
  .strive-card:hover .infos-content .play-btn{
    opacity: 1;
    transform: translateX(0)
  }





  
  @media (max-width: 575px) {
    .title-movielist>h4 {
      font-size: 12px;
    }
  }
  