.navigation{
    font-size: 0,8rem;
}
nav {
    background-color: #0f171e;
    background-image: -webkit-linear-gradient(
      top,
      #1b2530,
      rgba(27, 37, 48, 0.85)
    );
    background-image: linear-gradient(180deg, #1b2530 0, rgba(27, 37, 48, 0.85));
    background-repeat: repeat-x;
  }
.btn-success{
    background-color: transparent;
    border-color: #61dafb;
}
.btn-success:hover{
    background-color: transparent;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
    background-color: transparent;
    border-color: #61dafb;
}
.truncate {
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }